<a href="https://colab.research.google.com/github/jihun0423/electric_predict/blob/main/electric.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.chdir('./gdrive/MyDrive/electric')

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')
df_building = pd.read_csv('building_info.csv')

In [ ]:
df.head(5)

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh)
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40

In [ ]:
df['날짜']=df['일시'].str.split(' ').str[0]
df['hour']=df['일시'].str.split(' ').str[1].astype('int')

In [ ]:
df['날짜'] = pd.to_datetime(df.날짜)

In [ ]:
df.head(5)

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),날짜,시간
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,2022-06-01,0
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,2022-06-01,1
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88,2022-06-01,2
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76,2022-06-01,3
4,1_20220601 04,1,20220601 04,18.4,NaN,2.8,43.0,NaN,NaN,986.40,2022-06-01,4

In [ ]:
import numpy as np
df['hour'] = np.sin(2*np.pi*df['hour']/24)

In [ ]:
df['dow'] = df['날짜'].dt.weekday
df['month'] = df['날짜'].dt.month
df['day'] = df['날짜'].dt.day
df['holiday'] = df['dow'].apply(lambda x: 0 if x<5 else 1)

In [ ]:
df['holiday']=((df['dow']>4) | (df['날짜'].isin(holiday))) *1

In [ ]:
# from datetime import datetime
# holiday = [datetime(2022, 6, 1), datetime(2022, 6, 6), datetime(2022, 8, 15)]
# df['holiday'] = df.apply(lambda x: 1 if ((df['날짜'].isin(holiday)) | (df['dow'] > 4)) else 0, axis=1)

ValueError: ignored

In [ ]:
df.head(4)

,num_date_time,건물번호,일시,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),날짜,시간,dow,month,day,holiday
0,1_20220601 00,1,20220601 00,18.6,NaN,0.9,42.0,NaN,NaN,1085.28,2022-06-01,0.000000,2,6,1,1
1,1_20220601 01,1,20220601 01,18.0,NaN,1.1,45.0,NaN,NaN,1047.36,2022-06-01,0.258819,2,6,1,1
2,1_20220601 02,1,20220601 02,17.7,NaN,1.5,45.0,NaN,NaN,974.88,2022-06-01,0.500000,2,6,1,1
3,1_20220601 03,1,20220601 03,16.7,NaN,1.4,48.0,NaN,NaN,953.76,2022-06-01,0.707107,2,6,1,1

In [ ]:
df.isnull().sum()

num_date_time         0
건물번호                  0
일시                    0
기온(C)                 0
강수량(mm)          160069
풍속(m/s)              19
습도(%)                 9
일조(hr)            75182
일사(MJ/m2)         87913
전력소비량(kWh)            0
날짜                    0
시간                    0
dow                   0
month                 0
day                   0
holiday               0
dtype: int64

In [ ]:
df['강수량(mm)'].fillna(0)

0

In [ ]:
df.groupby(['건물번호','month','hour'],as_index=False).mean()

<ipython-input-73-93d4eaa52e88>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['건물번호','month','시간'],as_index=False).mean()

,건물번호,month,시간,기온(C),강수량(mm),풍속(m/s),습도(%),일조(hr),일사(MJ/m2),전력소비량(kWh),dow,day,holiday
0,1,6,-1.000000,25.610000,4.340000,2.906667,65.633333,0.340000,0.651667,2595.296,2.966667,15.5,0.333333
1,1,6,-0.965926,24.886667,6.800000,3.083333,67.433333,0.323333,0.307333,2419.520,2.966667,15.5,0.333333
2,1,6,-0.965926,25.966667,2.466667,2.960000,64.700000,0.286667,0.928000,2838.504,2.966667,15.5,0.333333
3,1,6,-0.866025,23.923333,3.242857,3.026667,70.633333,0.073333,0.061667,2230.592,2.966667,15.5,0.333333
4,1,6,-0.866025,26.123333,1.633333,3.143333,64.700000,0.280000,1.131000,3422.256,2.966667,15.5,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6595,100,8,0.707107,26.425000,3.222222,1.341667,88.125000,0.195833,NaN,1121.330,2.750000,12.5,0.291667
6596,100,8,0.866025,24.762500,2.937500,1.029167,95.833333,NaN,NaN,406.050,2.750000,12.5,0.291667
6597,100,8,0.866025,25.570833,5.466667,1.170833,92.250000,0.120833,NaN,980.010,2.750000,12.5,0.291667
6598,100,8,0.965926,24.864583,4.708333,1.014583,95.750000,0.029167,NaN,646.080,2.750000,12.5,0.291667
6599,100,8,1.000000,24.658333,2.957143,0.829167,96.541667,0.000000,NaN,644.380,2.750000,12.5,0.291667

In [ ]:
df_nummonthhour_mean = df.groupby(['건물번호','month','hour'],as_index=False).mean()

In [ ]:
null_feature = ['강수량(mm)','풍속(m/s)','습도(%)','일조(hr)','일사(MJ/m2)']

In [ ]:
for col in null_feature:
  for i in df[df[col].isnull()].index:
    df.loc[i,col] = df_nummonthhour_mean[(df.loc[i,'건물번호']==df_nummonthhour_mean['건물번호'])&(df.loc[i,'month']==df_nummonthhour_mean['month'])&(df.loc[i,'hour']==df_nummonthhour_mean['hour'])][col]

In [ ]:
pip install -U pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.23.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.20)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26771 sha256=632964266380a6b9c0b5fa85eb402c0e8114f14fb8edfcb2928f3359c5fe337b
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from pandasql import sqldf

query = """select 풍속(m/s) from df group by 건물번호, month, 시간 """

df1 = sqldf(query)

ObjectNotExecutableError: ignored